variation_id,variation_property_name,variation_property_value,sku,price,quantity,is_enabled,readiness_state_id
1,Size,52x36,aaaaaaeee,10.12,50,TRUE,1491639693168
2,Size,200x70,bbbb,5.77,60,TRUE,1491639693168
